@import "https://fonts.googleapis.com/css?family=Righteous";
html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #131313;
}

.specialtext {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#text {
  font-size: 150px;
  font-family: Righteous;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#fill {
  -webkit-animation: shift 5s linear infinite;
          animation: shift 5s linear infinite;
}

@-webkit-keyframes shift {
  0% {
    x: 0;
  }
  100% {
    x: -2000;
  }
}

@keyframes shift {
  0% {
    x: 0;
  }
  100% {
    x: -2000;
  }
}
